/*
 * -------------------------------------------------
 *  Nextflow config file for ii2 IMPIMBA
 * -------------------------------------------------
 */

singularity {
  enabled = false
}

process {
    executor = 'slurm'
    queue = { task.memory <= 150.GB ? 'c' : 'm' }
    clusterOptions = { task.time <= 8.h ? '--qos short': task.time <= 48.h ? '--qos medium' : '--qos long' }

}

params {

  // saveReference = true
  // Max resources requested by a normal node on milou. If you need more memory, run on a fat node using:
  //   --clusterOptions "-C mem512GB" --max_memory "512GB"
  max_memory = 150.GB
  max_cpus = 128
  max_time = 48.h

}
